<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{~/styles/login_admin.css}">
    <title>Document</title>

</head>
<body>

              <div class="container" >
                <div class="myform">

                    <h2>ADMIN LOGIN</h2>

                    <form th:action="@{/admin/admin-login}" th:object="${admin}" method="post">
                        <div class="form-outline mb-4">
                            <label class="form-label" for="typeEmailX-2">Email</label>
                            <input type="text" id="typeEmailX-2" class="form-control form-control-lg" name="username"/>
                          </div>

                          <div class="form-outline mb-4">
                            <label class="form-label" for="typePasswordX-2">Password</label>
                            <input type="password" id="typePasswordX-2" class="form-control form-control-lg"  name="password" />
                          </div>
                          <button type="submit">Login</button>
                    </form>


                </div>
                  <div class="image">
                      <img src="https://raw.githubusercontent.com/tj-webdev/admin-login-form/main/image.jpg">
                  </div>
              </div>


<script th:src="@{~/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{~/styles/bootstrap4/popper.js}"></script>
<script th:src="@{~/styles/bootstrap4/bootstrap.min.js}"></script>
<script th:src="@{~/plugins/Isotope/isotope.pkgd.min.js}"></script>
<script th:src="@{~/plugins/OwlCarousel2-2.2.1/owl.carousel.js}"></script>
<script th:src="@{~/plugins/easing/easing.js}"></script>
<script th:src="@{~/js/custom.js}"></script>
</body>
</html>